<div class="container">
	<h1 class="page-header"><%=title%> <small><a href="/monitor/log/socket/static" class="btn btn-primary">Static Logs</a></small>
	<small><a href="/monitor/log/socket/dynamic" class="btn btn-primary">Dynamic Logs</a></small></h1>
        <div class="row">
		<div class="col-md-10">
			<table class="table table-striped">
                <tr>
					<th>#</th>
					<th>target</th>
					<th>Count</th>
					<th>Operations</th>
			    </tr>
			    <%
                    var i = 0
                    for(monitor in hosts){
                        i++
						var count=0;
						for(address in hosts[monitor]){
							for(detail in hosts[monitor][address]){
								count++;
							}
						}
                %>
                <tr>
                    <td><%=i%></td>
                    <td><%=monitor%></td>
                    <td><%=count%></td>

                    <td><a class='btn' href="/monitor/socket<%=monitor=='/'?'/baseurldefaultmonitor':monitor%>">view</a></td>
                </tr>
                <%
                	}
                %>
			</table>
		</div>
	</div>
</div>
